<app-search (eventToSearchText)="getSearchText($event)"></app-search>
<app-filter [allProduct]="countOfAll" [inStock]="inStock" [outOfStock]="outOfStock" (radioChangedEvent)="changedSelectedRadio($event)"></app-filter>
<div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
        <div *ngFor="let item of sportsItems" class="product-card w-full md:w-1/2 lg:w-1/3 px-4 mb-6">
            <div *ngIf="searchText === '' || item.title.toLocaleLowerCase().includes(searchText)">
                <app-products [product]="item"></app-products>
            </div>
        </div>
    </div>
</div>
    